<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content=".">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="keywords"
          content="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title><%=appName%></title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js">
	</script>
    <![endif]-->
    <style>
        ul.ok {
            list-style-type: none;
            margin-left: 0;
            padding-left: 1em;
        }

        ul.ok li:before {
            font-family: 'FontAwesome';
            content: '\f00c';
            margin: 0 5px 0 -15px;
            color: #008082;
        }

        ul.ok li {
            margin-bottom: 1ex
        }

        .grad {
            /* fallback */
            background-color: #fcfcfc;

            /* Safari 4-5, Chrome 1-9 */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(yellow));

            /* Safari 5.1, Chrome 10+ */
            background: -webkit-linear-gradient(top, #fcfcfc, yellow);

            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #fcfcfc, yellow);

            /* IE 10 */
            background: -ms-linear-gradient(top, #fcfcfc, yellow);

            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #fcfcfc, yellow);

            background: linear-gradient(top, #fcfcfc, yellow);
        }

        .stdtxt {
            color: #008082;
            font-size: 14pt
        }

       .note {
            color: #008082;
            font-size: 10pt
        }

        .sharptxt {
            color: #243842;
        }

        input {
            border-radius: 5px
        }

        ::-webkit-input-placeholder {
            color: #008082;
            font-weight: normal
        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: #008082;
            font-weight: normal
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #008082;
            font-weight: normal
        }

        :-ms-input-placeholder {
            color: #008082;
        }
    </style>
</script>
    <script src="js/shelloid.js">
    </script>
</head>
<!--/head-->
<body class="grad">
<div style="width:100%;text-align:right">
<form style="display:inline" action="/logout" method="post">
<input type="submit" style="font-size:12pt;height:2em;"value="logout" name="logout"/>
</form>
</div>
<br/>

<div style="color:black;text-align:center">
    <div style="font-size:24pt" class="sharptxt">
        Welcome to <%=appName%> Home!
    </div>
    <br/>

    <div style="font-size:14pt;font-weight:500" class="stdtxt">
        <table align="center" width="70%">
            <tr>
                <td>


                    <div style="text-align: left" class="stdtxt">
                        <ul class="ok">
                            <li>Visit our <a target="_new" href="http://shelloid.github.io">documentation site</a>.
                            <li>Pre-register for <a target="_new" href="http://shelloid.com">log intelligence service</a>.							
                        </ul>
						<hr style="height:2px;color:gray"/>
						<div style="text-align:right">
						<a href="http://shelloid.org"><img src="/images/powered-by-shelloid.png"></a>
						</div>

                    </div>
                </td>
            </tr>
        </table>
        <p>&nbsp;

        <div>


        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
	    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

</body>
</html>
